/*@font-face {
	font-family: 'Titillium Web';
	src: url(../fuente/TitilliumWeb-Regular.ttf) format("truetype");
}
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Titillium Web', sans-serif;
}

div#menu{
	width: 100%;
	height: 100px;
	background-color:#333740;
	position: fixed;
	z-index: 4;
}
#items-menu{
	position: relative;
	left: 58%;
	bottom: 35px;
	color:white;
	opacity: 0.9;
}
#items-menu a{
	color: white;
}
li{
	display: inline;
	padding: 2.5%;
}
@media screen and (max-width: 800px){
	.enlace-mov{
	padding:0;
}
}

h1#marca{
	margin-left: 15px;
	margin-top:22px;
	color:white;
}

@media screen and (max-width: 800px){

#texto-newsletter{
	height: 40px;
	position: absolute;
	top: 15%;
}
#form-newsletter{
	position: absolute;
	width: 100%;
	top:55%;
}
}
@media screen and (max-width: 600px){

#texto-newsletter{
	height: 40px;
	position: absolute;
	top: 15%;
}
#form-newsletter{
	position: absolute;
	width: 100%;
	top:55%;
}
}


#texto-newsletter{
	margin-left: 20%;
	padding-top: 6%;

}
#input-newsletter{
	margin-top: 2%;
	padding: 11px;
	margin-left: 20%;
	width: 23%;
	border:none;
	border-radius: 5px;
}

@media screen and (max-width: 600px){
	#input-newsletter{
	padding: 15px;
	width: 53%;
}
}


div.pie-principal{
	width:100%;
	height:100px;
	background-color:#333740;
	opacity: 0.82;
	z-index: -1;

}
div.pie-secundario{
	width:100%;
	height:235px;
	background-color:#8A959E; 
	opacity: 0.72;
	z-index: -1;

}
footer div p{
	text-align: center;
}
span#span2-footer{
	float: right;
}
.col-secundaria{
	float: left;
	margin-left: 110px;
	margin-top: 20px;

}
.col-secundaria p{
	text-align: left;
}
.col-tercearia{
	padding-top:20px;
	float: none;
}
.col-tercearia p{
	text-align: left;
	margin-left: 50%;
}

.col-cuaternaria{
	float: right;
	margin-right: 0px;
}
#p1-footer{
	padding-top: 30px;
}
@media screen and (max-width: 600px){
	.col-secundaria{
	float: left;
	margin-left: 38px;
	margin-top: 20px;

}
	.col-cuaternaria{
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}
}*

/*Color morado cool #9c27b0*/
