.enlaces-moviles {
    color: #222;
    text-decoration: none;
}
#header-movil {
    background-color:#fff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
    z-index: 100;
}

.control-menu {
    background-color: transparent;
    display: none;
    float:right;
    height: 50px;
    margin-right: 10px;
    width: 40px;
}
.control-menu a span {
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    padding: 3px;
}
.control-menu .close {
    background-image: url("../imagenes/close-menu.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 69% 60%;
   width:100%;
    display: none;
}
.control-menu .open {
    background-image: url("../imagenes/open-menu.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 69% 60%;
    display: block;
}

/*Será visible sólo en pantallas pequeñas*/
@media screen and (max-width: 800px){
    div#header-movil{
        position: fixed;
        width: 100%;
    }
    .control-menu{
        display: block;
    }
    *{
    margin: 0;
    padding: 0; /* el margen cero para todo (exactamente para que el menú movil ocupe todo)*/
    }
    #menu{
        display: none;
    }
}
ul.nav-items {
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/
}

#navigation:target ul.nav-items {
    background:#fff  none repeat scroll 0 0;
    height: 15.8em;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al abrirse*/
}


/*Al hacer clic sobre el enlace que abre el menú éste desaparece*/

.close { 
   display:none;
}
        
#navigation:target .open {
      display: none;
}

/* Al hacer clic sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/

#navigation:target .close {
        display: block;
}
  
/*Estilos menu*/

ul.nav-items li {
    display: block;
}
ul.nav-items a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
}
ul.nav-items li:first-child a {
    border-top: 2px solid transparent;
}
ul.nav-items li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
}
#Web-Dev a span {
    border-color: #229be6;
}
#Mobile a span {
    border-color: rgba(84, 84, 80, 0.64);
}
#Data a span {
    border-color: rgba(84, 84, 80, 0.64);
}
#Net-VS a span {
    border-color: rgba(84, 84, 80, 0.64);
}
#SharePoint a span {
    border-color: rgba(84, 84, 80, 0.64);
}
